<h3>รวมโปรไฟล์</h3>
<div class="row">

	<% @profile.each do |profile|  %>
	<div class="col-md-3">
      <div class="panel panel-default">
         <div class="panel-heading">
            <a href="#" class="pull-right text-muted">
               <em class="fa"></em>
            </a>
         </div>
         <div class="panel-body text-center">
            
            <%= link_to (profile_path(profile.id)) do %>
               <% if profile.avatar_data %>
                  <%= image_tag(profile.avatar_url(:thumbnail), class: "center-block img-responsive img-circle thumb96") %>
               <% end %>
            <% end %>


            <h4>
               <%= link_to (profile_path(profile.id)) do %>
                  <%= profile.firstname %> <%= profile.surname %>
               <% end %>
            </h4>
            <p>สมัครสมาชิกเมื่อ : <%= time_ago_in_words(profile.created_at) %></p>
         </div>
         <div class="panel-footer clearfix">
            <div class="pull-left">
               <%= link_to "ดูโปรไฟล์", profile_path(profile.id), class: "btn btn-xs btn-primary" %>
            </div>
            <div class="pull-right">
            	<%= link_to "แชร์", profile_path(profile.id) %>
            </div>
         </div>
      </div>
   </div>

	<% end %>
   <%= will_paginate @profile %>

</div>


