<div class="col-md-12">
	<div class="panel panel-default">

		<div class="panel-body">
			<%= form_for @post do |f| %>
				<% if @post.errors.any? %>
				    <div class="validation-errors alert alert-danger">
				      <ul class="list-unstyled">
				        <% @post.errors.full_messages.each do |message| %>
				          <li>Album <%= message %></li>
				        <% end %>
				      </ul>
				    </div>
				  <% end %>
				<fieldset>
					<div class="form-group">
						<%= f.label "หัวเรื่อง" , class: "col-sm-2 control-label" %>
						<div class="col-sm-10">
							<%= f.text_field :title, class: "form-control" %>
						</div>
					</div>
				</fieldset>
				<fieldset>
					<div class="form-group">
						<label class="col-sm-2 control-label">หมวดหมู่</label>
						<div class="col-sm-10">
							<% @categories.each do |category| %>

							<label class="checkbox-inline c-checkbox btn btn-default btn-outline pl-xl">
								<%= check_box_tag "post[categories][]", category.id , (if @post.categories 
									@post.categories.include?(category.id.to_s) 
								else 
									false 
								end) , class: " " %> 
								<span class="fa fa-check"></span><%= category.title %></label>
							</label>

				      		<% end %> 
				      	</div>
					</div>
				</fieldset>
				<fieldset>
					<div class="form-group">
						<label class="col-sm-2 control-label">รูปปก</label>
						<div class="col-sm-10">
						<%= f.hidden_field :cover_photo, value: @post.cached_cover_photo_data, id: "post-cover-photo-upload-result" %>
    					<%= f.file_field :cover_photo, accept: ImageUploader::ALLOWED_TYPES.join(","), data: { upload_server: upload_server, preview_element: "preview-cover-photo", upload_result_element: "post-cover-photo-upload-result" } %>

    						<div class="image-preview">
							    <%= image_tag @post.cover_photo_url(:thumbnail).to_s, width: 300, class: "img-thumbnail file-upload-preview", id: "preview-cover-photo" %>
							  </div>

						</div>
					</div>

				</fieldset>

				<a class="btn btn-default mb-xl" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
				    <h5>รายละเอียดอื่น ๆ </h5>
				</a>	

				<fieldset>
				<div class="collapse" id="collapseExample">

					<fieldset>
						<div class="form-group">
							<%= f.label "เนื้อหาโดยละเอียด" , class: "col-sm-2 control-label" %> 
							<div class="col-sm-10">
								<%= f.text_area :body, class: "form-control" %>
							</div>
						</div>
					</fieldset>
					<fieldset>
						<div class="form-group">
    						<%= f.label "รูปอื่น ๆ (ใส่ได้มากกว่า 1 ภาพ)", class: "col-sm-2 control-label" %>
						    <div class="col-sm-10">
						      <%= file_field_tag "files[]", multiple: true, accept: ImageUploader::ALLOWED_TYPES.join(","), id: "post-picture-field", data: { template: "template-picture", upload_list: "post-picture-list", upload_server: upload_server } %>
						    	<ul class="list-unstyled file-upload-list" id="post-picture-list">
    								<% @post.pictures.each_with_index do |picture, idx| %>
      								<%= render partial: "picture", locals: { picture: picture, idx: idx } %>
    								<% end %>
  								</ul>
						    </div>
						 </div>
					</fieldset>
					<fieldset>
						<div class="form-group">
				    		<%= f.label :tag_list, 'Tag (คำค้นหา)' , class: "col-sm-2 control-label" %>
				    		<div class="col-sm-10">
				    			<input name="post[tag_list]" value="<%= @post.tag_list %>" type="text" class="form-control" placeholder="ถ้าใส่หลายคำให้ใช้ , ในการคั่นคำ เช่น โครงการปลูกป่าชายเลน, ระยอง" />
				    		</div>
						</div>
					</fieldset>

				</div>
				</fieldset>

				<fieldset>
					<div class="form-group">
						<div class="col-sm-2"> 
						</div>
						<div class="col-sm-10">
							<%= f.submit "บันทึก" ,  :class => 'btn btn-primary' %>
						</div>
					</div>
				</fieldset>
			<% end %>
		</div>
	</div>
</div>