<div class="row">
		<!-- Blog Content-->
		<div class="col-lg-12">
         <div class="panel panel-default">
            <div class="panel-heading">
               <div class="bb">
                  <h2 class=" mb-xl"><%= @post.title %></h2>
                  <p class="clearfix">
                     <span class="pull-left">
                        <small>
                           <% if @post.categories && params[:profile_id] %>
                           หมวดหมู่: 
                           <% @categories.each do |category| %>
                              <% if @post.categories.include?(category.id.to_s) %>
                                 <%= link_to category.title , "#{profile_path(params[:profile_id])}/categories/#{category.id}" , class: "btn btn-xs btn-green btn-outline" %>
                                 </label>
                              <% end %> 
                           <% end %>
                           <% end %>  
                        </small>
                     </span>
                     <span class="pull-right">
                        <small class="mr-sm">
                           โดย 
                           <%= link_to (profile_path(@post.user.id)) do %>
                              <%= @post.user.firstname %> <%= @post.user.surname %>
                           <% end %>
                        </small>
                        <small class="mr-sm">
   		โพสเมื่อ : <%= time_ago_in_words(@post.created_at) %> ที่แล้ว</small>
   					<!--
                        <small>
                           <strong>56</strong>
                           <span>Comments</span>
                        </small>
                    -->
                     </span>
                  </p>
                  <p>
                  	<% if user_signed_in? && (current_user.id == @post.user_id) %>
   					<%= link_to 'แก้ไข' , edit_post_path(@post), class: "btn btn-info" %>
   					<%= link_to 'ลบ' , post_path(@post), method: :delete, data: { confirm: 'ต้องการลบ'}, class: "btn btn-danger" %>
   				<% end %>
                  </p>
               </div>
            </div>
            <div class="panel-body">
            	<% if @post.cover_photo_url %>
   			      <%= image_tag @post.cover_photo_url(:thumbnail) , class: "" %>
   			   <% end %>
            </div>
            <div class="panel-body">
            	
               <%= @post.body %>
               <ul class="list-unstyled file-upload-list" id="post-picture-list">
                  <% @post.pictures.each_with_index do |picture, idx| %>
                     <%= image_tag picture.image_url(:thumbnail) , width: 300 , class: "" %>
                  <% end %>
               </ul>
               <hr>
               <p><small>Tags: 
                     <% @post.tag_list.each do |tag| %>

                        <% if params[:profile_id] %>
                           <%= link_to tag, "#{profile_path(params[:profile_id])}/tags/#{tag}", class: "mb-sm btn btn-primary btn-outline btn-xs" %>
                        <% else %>
                           <%= link_to tag, tag_path(tag), class: "mb-sm btn btn-primary btn-outline btn-xs" %>
                        <% end %>
                     <% end %></small>
               </p> 
               <hr>
               <div class="social_share_button_content">
               <%= social_share_button_tag(@post.title,  :image => @post.cover_photo_url, desc: @post.body) %>
               </div>
            </div>
         </div> 
		</div> 
</div>